
.about_me_content {
    padding: 0%;
}

.about_me_content img {
    padding: 10%;
}


.about_me_text {
    text-align: left;
    background-color: #D8D8D8;
    padding: 10%;
}

/*  now do desktop css  */
@media (min-width: 768px) {

    .about_me_content {
        background-color: #D8D8D8;
        padding: 5%;
    }

    .about_me_content img {
        padding: 0%;
    }

    .about_me_text {
        text-align: left;
        background-color: #D8D8D8;
        padding: 5%;
    }


}