
.about_me_content {
    padding: 0%;
}

.about_me_content img {
    padding: 10%;
}


.about_me_text {
    text-align: left;
    background-color: #D8D8D8;
    padding: 10%;
}

/*  now do desktop css  */
@media (min-width: 768px) {

    .about_me_content {
        background-color: #D8D8D8;
        padding: 5%;
    }

    .about_me_content img {
        padding: 0%;
    }

    .about_me_text {
        text-align: left;
        background-color: #D8D8D8;
        padding: 5%;
    }


}

        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <script type='text/javascript' src='unitegallery/js/unitegallery.min.js'></script> 
        
        <link rel='stylesheet' href='unitegallery/css/unite-gallery.css' type='text/css' /> 
        <script type='text/javascript' src='unitegallery/themes/default/ug-theme-default.js'></script> 
        <link rel='stylesheet' href='unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 