footer {
  background-color: white;
  color: #ccc;
  padding: 2% 5%;
  margin-top: 5%;
  border-top: 1px solid black;
}

.copyright {
  text-align: center;
  margin-top: 5%;
}

.footer-content ul {
  overflow: hidden;
  list-style-type: none;
}

.about-content li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

.nav-content li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

.nav-content li:first-child {
  border-right: none;
}

.footer-content li:last-child {
  border-right: none;
}

.footer-content li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-content li a:hover {
  color: #666;
}

.footer-content li.active a {
  font-weight: medium;
  color: #333;
}

/*  now do desktop css  */
@media (min-width: 768px) {
  .nav-content li {
    height: 25px;
    float: right;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }

  .nav-content li:first-child {
    border-right: none;
  }
}
