.about-content li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

.nav-content li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

.nav-content li:first-child {
  border-right: none;
}

/*  now do desktop css  */
@media (min-width: 768px) {
  .nav-content li {
    height: 25px;
    float: right;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }

  .nav-content li:first-child {
    border-right: none;
  }
}
