/*  HEADER CSS  */

body {
  font-size: 225%;
  font-family: 'Nunito', sans-serif;
}

header {
  margin-top: 5%;
  margin-bottom: 2%;
}

ul {
  list-style-type: none;
  text-align: right;
  padding-left: 0;
}

li {
  padding-bottom: 5px;
  padding-right: 0px;
}

a {
  color: black;
}


#fullname {
  color: #9012FE;
  white-space: nowrap;
}

.left-col {
  margin-top: 111px;
}

.right-col {
  padding-right: 0;
}

/*  now do desktop css  */
@media (min-width: 768px) {

/*  fix the header */
  .left-col {
    margin-top: 0;
  }

  .header-row {
    padding: 10px;
  }

}
