/*  INTRO CSS  */

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;
}

#intro-section {
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
}

.splash_wrapper {
    margin-top: 8vh;
}

#title_name {
    font-family: 'Lovers Quarrel', cursive;
    color: white;
    font-size: 10vh;
    margin-left: 30%;
    margin-bottom: -25px;
}

#splash {
    margin-right: 2vh;
}


#title_wrapper {
    text-align: left;
    padding-left: 10vh;
    color: #FFF105;
    font-weight: 400;
}

.object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

.line-separator {
    height: 5px;
    width: 90%;
    background: #FFF105;
}

button.dive_in {
    background: transparent;
    margin-top: 25vh;
    color: #FFF105;
    border: #FFF105;
    border-style: solid;
    border-width: 2px;  
}

button.btn:hover {
    background-color: #FFF105 !important;
}


/*  now do desktop css  */
@media (min-width: 768px) {

    #title_name {
        font-size: 25vh;
        margin-bottom: -80px;
        margin-left: 0%;
        text-align: center; 
    }

    .line-separator{
        height: 5px;
        width: 70%;
        background: #FFF105;
    }

    #title_wrapper {
        text-align: center;
        padding-left: 0vh;
        color: #FFF105;
        font-weight: 400;
    }

    button.dive_in {
        width: 15%;
        font-size: 20px;
    }



}


