/*  INTRO CSS  */

#intro-section {
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    text-align: right;
}

.splash_wrapper {
    margin-top: 8vh;
}

#title_name {
    font-family: 'Lovers Quarrel', cursive;
    color: white;
    font-size: 60px;
    margin-right: 10%;
    margin-bottom: -25px;
}

#splash {
    margin-right: 2vh;
}


#title_wrapper {
    text-align: left;
    padding-left: 10vh;
    color: #FFF105;
    font-weight: 400;
}

.line-separator{
    height: 5px;
    width: 90%;
    background: #FFF105;
}

.dive_in {
    margin-top: 25vh; 
 }

button {
    background-color: transparent;
    color: #FFF105;
    border: #FFF105;
    border-style: solid;
    border-width: 2px; 
 }



