@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

body {
    font-size: 225%;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Open Sans", sans-serif;
}

h2 {

	font-family: "Permanent Marker", cursive;
}

.page-content {
    padding-top: 15vh;
}
