@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body {
    font-size: 225%;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Open Sans", sans-serif;
    font-color: #7c8186;
}

h2 {

	font-family: 'Special Elite', cursive;
}

.page-content {
    padding-top: 15vh;
}
