/*  PROJECT INFO CSS  */

body {
    background-color: white;
}

.project-info {
    padding: 0% 10% 0% 10%;
    font-size: 20px;
    text-align: left;
    font-weight: normal;
}

.project-info img {
    margin-top: 5%;
    margin-bottom: 5%;
}


.project-page-content {
    padding-top: 10%;
}




}


