/*  HEADER CSS  */

body {
  font-size: 225%;
}

header {
  margin-top: 5%;
}

ul {
  list-style-type: none;
  text-align: right;
  padding-left: 0;
}

li {
  padding-bottom: 5px;
  padding-right: 0px;
}

a {
  color: black;
}


#fullname {
  color: #9012FE;
  white-space: nowrap;
}

.left-col {
  margin-top: 111px;
}

.right-col {
  padding-right: 0;
}

/*  PROJECT INTRO CSS  */

.project-intro {
  background-color: #D8D8D8; 
  padding: 10% 10% 10% 10%;
}

.project-description p {
  margin-bottom: 0px; 
} 

.project-description .title {
  margin-top: 10%;
}

.project-description .thin-font {
  font-weight: lighter; 
}

/*  PROJECT INFO CSS  */

.project-info {
  padding: 0% 10% 0% 10%;
  font-size: 20px;
  text-align: left;
  font-weight: normal;
}

.project-info img {
  margin-top: 5%;
  margin-bottom: 5%;
}
