/*  WORK CSS  */

:root {
  --bg-grey: #ececec;
}

body {
  background-color: var(--bg-grey);
}

#work-section {
  width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.details {
  margin-top: -25%;
  margin-left: 5%;
  padding-bottom: 3%;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}



/*  now do desktop css  */


@media (min-width: 768px) {
  #work-section {
    padding-top: 5%;
    padding-bottom: 0%;
  }

  .work-icon {
    text-align: left;
    display: block;
    float: left;
    width: 25%;
  }

  figure.work-icon {
    font-family: "Raleway", Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
    background: #000000;
    text-align: left;
  }
}
