/*  WORK CSS  */


#work-section {
    width: 100%;
    height: auto;
}

.work-icon {
  padding: 10%;
  text-align: left;
}

.details {
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 3%;
  background-color: #FFFBB2;
}

.details p {
  margin-bottom: 0px;
}

.project-title {
  color: #02528E;
  font-size: 25px;
}

.project-type {
  color: #9B9B9B;
  font-weight: lighter; 
  font-size: 10px;
}

.work-icon img {
   display: inline-block;
}

/*  now do desktop css  */
@media (min-width: 768px) {


}

