/*  INTRO CSS  */

.intro {
  background-color: #D8D8D8;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #9012FE;
  text-align: center;
}


.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#uxbox {
  padding: 10%;
}

#uxkeys {
  margin-bottom: 0;
  display: inline-block;
}

#uxkeys p {
  text-align: left;
  margin-bottom: 0;
}

#uxvalues {
  margin-bottom: 0;
  width: 50%;
  display: inline-block;
}

.uxval {
  height: 17px;
  display: block; 
  margin-left: 10%;
  background-color: #9B9B9B;
}

.designer {
  width: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.developer {
  width: 70%;
}

.work-icon {
  padding: 10%;
  text-align: center;
}

.work-icon img {
   display: inline-block;
   border-radius: 50%;
}

/*  now do desktop css  */
@media (min-width: 768px) {

  #uxbox {
  padding: 0%;
  }

  .projects {
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 3%;
  }

  .work-icon {
    padding: 3%;
  }

  .work-title {
    font-size: 15px;
  }

}

