/*  PROJECT INTRO CSS  */


#header-container {
    width: 100%;
    background: #e5fcf4;
    padding-top: 0%;
    padding-bottom: 0%;
}

.proj-header-image {
  text-align: left;
  display: block; 
  float: left;
  width: 100%;
}

.proj-header-about {
  text-align: left;
  display: block; 
  float: left;
  width: 100%;
}

figure img {
  width: 100%;
}

/*  now do desktop css  */
@media (min-width: 768px) {

  #work-section {
    padding-top: 5%;
    padding-bottom: 0%;
  }

  .work-icon {
  text-align: left;
  display: block; 
  float: left;
  width: 50%;
}

figure.proj-header-image {
  position: relative;
  float: left;
  overflow: hidden;
  width: 60%;
  text-align: left;
}

div.proj-header-about {
  width: 40%;
  text-align: center;
  padding: 3% 5%;
}

div.proj-header-about img {
  margin: 0% 5%;

}

.header-about-text {
  font-size: 22px; 
  font-family: 'Raleway', sans-serif;
  padding-top: 15%;
  text-align: middle; 
  color: black;
}




}