/*  PROJECT INTRO CSS  */

.project-intro {
  padding: 0;
}
.project-description p {
  margin-bottom: 0px; 
} 

.project-description .title {
  margin-top: 10%;
}

.thin-font {
  font-weight: 300; 
}

.bold-font {
  font-weight: 700; 
}

.click-me-link {
  color: #005EA6;
}


/*  PROJECT INFO CSS  */

.project-info {
  padding: 0% 10% 0% 10%;
  font-size: 20px;
  text-align: left;
  font-weight: 300;
  margin-top: 5%;
  margin-bottom: 5%;
}

.project-info img {
  margin-top: 5%;
  margin-bottom: 5%;
}

.iframe-wrapper {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: left;
}

/*  now do desktop css  */
@media (min-width: 768px) {


}

